.gitignore
spam-classifier/datasets/
cpp-neural-network-implementation/CMakeFiles
cpp-neural-network-implementation/ALL_BUILD.vcxproj
cpp-neural-network-implementation/ALL_BUILD.vcxproj.filters
cpp-neural-network-implementation/cmake_install.cmake
cpp-neural-network-implementation/CMakeCache.txt
cpp-neural-network-implementation/CPP Neural Network.sln
cpp-neural-network-implementation/ZERO_CHECK.vcxproj
cpp-neural-network-implementation/ZERO_CHECK.vcxproj.filters
cpp-neural-network-implementation/NeuralNetworkTester.vcxproj
cpp-neural-network-implementation/NeuralNetworkTester.vcxproj.filters

microsoft-ml-flight-challenge/flights.csv

cpp-neural-network-implementation/NeuralNetworkTester.dir/
cpp-neural-network-implementation/Debug/
cpp-neural-network-implementation/x64/Debug/

